body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 132, 231);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: white;
  width: 450px;
  display: flex;
  flex-direction: column;

  padding: 10px 0 50px 0;
  border-radius: 10px;
}

h1 {
  color: rgb(26, 112, 192);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form button {
  background-color: rgb(69, 175, 227);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background-color: wheat;
  margin: 20px 20px 0 20px;
  border-radius: 5px;
  position: relative;
}

.editDandelete {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 10px;
  right: 0;
  margin-right: 20px;
}

.list p {
  max-width: 250px;
}

.check {
  width: 15px;
  margin: 0 10px;
}

.edit {
  background-color: rgb(69, 175, 227);
  padding: 8px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  width: 20px;
  display: flex;
  align-items: center;
}

.edit svg,
.del svg {
  fill: white;
}

.del {
  background-color: rgb(240, 30, 30);
  padding: 8px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  width: 18px;
  display: flex;
  align-items: center;
}

.checked {
  text-decoration: line-through;
}
